
.mwrapper{
    box-sizing: border-box;
    font-family: 'Lato',sans-serif;
    display: flex;
    width: 100%;
    height: auto;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
}
.wrapper{
    display: flex;
    width: 70%;
    justify-content: space-around;
}
.cardh{
    width: 350px;
    height: 360px;
    padding: 2rem 1rem;
    margin-left: 20px;
    background: #fff;
    position: relative;
    display: flex;
    align-items: flex-end;
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
    transition: 0.5s ease-in-out;
}
.cardh:hover{
    transform: translateY(20px);
}
.cardh:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom,rgba(0,176,155,0.5),rgba(150,201,61,1));
    z-index: 2;
    transition: 0.5s all;
    opacity: 0;

}.cardh:hover:before{
     opacity: 1;
 }
 .cardh img{
   width: 100%;
   height: 100%;
     object-fit: cover;
     position: absolute;
     top: 0;
     left: 0;
 }
 .cardh .info{
     position: relative;
     z-index: 3;
     color: #fff;
     opacity: 0;
     transform: translateY(30px);
     transition: 0.5s all;

 }
 .cardh:hover .info{
     opacity: 1;
     transform: translateY(0px);
 }
 .cardh.info h2{
     margin: 0;
 }
 .cardh.info p{
     letter-spacing: 1px;
     font-size: 15px;
     margin-top: 8px;
     margin-bottom: 20px;
 }
     .btn1{
      text-decoration: none;
      padding:  0.5rem 1rem;
      background: #fff;
      color: #000;
      font-size: 14px;
      font-weight: bold;
      cursor: pointer;
      transition: 0.4s ease-in-out;
  }
     .btn1:hover{
         box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
     }

      @media screen and (max-width: 1000px){
         .wrapper{
             display: grid;
             height: 700px;
               align-items: center;
         }
          .cardh{
    width: 700px;
    height: 450px;
    margin-top: 20px;
    padding: 2rem 1rem;
    background: #fff;
    position: relative;
    display: flex;
    align-items: flex-end;
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
    transition: 0.5s ease-in-out;
}
     }