{% load static %}
<!DOCTYPE html>
<html lang="en">
{% block head %}
<head>
    <meta charset="UTF-8">
    <title>kaibaga fc</title>
     <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css'%}">
     <link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}">
     <script src="https://kit.fontawesome.com/9674323289.js" crossorigin="anonymous"></script>
</head>
{% endblock %}
<body>
<style>
    .myfooter{
        margin-top: 5px;
        color: #fff3cd;
        background-image: url("{% static 'images/dark2.jpg' %}");
        {#background-color: black;#}
        border-radius: 5px;
    }
</style>
 <div class="myfooter">
     <div class="section_footer">
    	<div class="container">
    		<div class="mail_section">
{#    			<div class="row">#}
{#    				<div class="col-sm-6 col-lg-2">#}
{#    					<div><a href="#"><img src="{% static 'images/logoo.jpg' %}" width="100px"></a></div>#}
{#    				</div>#}
{#    				<div class="col-sm-6 col-lg-2">#}
{#                        <div class="footer-logo"><img src="{% static 'images/phone-icon.png' %}"><span class="map_text"><a>+254706219186</a></span></div>#}
{#    				</div>#}
{#    				<div class="col-sm-6 col-lg-3">#}
{#                        <div class="footer-logo"><img src="{% static 'images/email-icon.png' %}"> <a href="http://johnmwanikig2000@gmail.com">johnmwanikig2000@gmail.com</a></div>#}
{#    				</div>#}
{#    				<div class="col-sm-6 col-lg-3">#}
{#    					<div class="social_icon">#}
{#    						<ul>#}
{#    							<a href="#"><img src="{% static 'images/fb-icon.png' %}"></a><br>#}
{#                                <span style='font-size:50px;'>&#127773;</span>#}
{#    							<a href="#"><img src="{% static 'images/twitter-icon.png' %}"></a><br>#}
{#    							<a href="#"><img src="{% static 'images/in-icon.png' %}"></a><br>#}
{#    							<a href="#"><img src="{% static 'images/google-icon.png' %}"></a><br>#}
{#    						</ul>#}
{#    					</div>#}
{#    				</div>#}
{#    				<div class="col-sm-2"></div>#}
{#    			</div>#}
    	    </div>
    	    <div class="footer_section_2">
		        <div class="row">
    		        <div class="col-sm-4 col-lg-2">
                        <p class="dummy_text"><strong>together we win bsfdhdfhjfdhjfdhjfdj</strong></p>
    		        </div>
    		        <div class="col-sm-4 col-lg-2">
    		        	<h2 class="shop_text">Address </h2>
    		        	<div class="image-icon"><span class="pet_text"> captain,483 olkalou.</span></div>
    		        </div>
    		        <div class="col-sm-4 col-md-6 col-lg-3">
    				    <h2 class="shop_text">Our Team </h2>
    				    <div class="delivery_text">
    				    	<ul>
                                <li><a class="nav-link text-white" aria-current="page" href="">Join us <style>.nav-link{
                                    margin-left: 2px;
                                }</style></a></li>
                                <li><a class="nav-link text-white" aria-current="page" href="">About us</a></li>
    				    	</ul>
    				    </div>
    		        </div>
    			<div class="col-sm-6 col-lg-3">
    				<h2 class="adderess_text">Team Kits</h2>
    				<div class="delivery_text">
    				    	<ul>
                                <li><a class="nav-link text-white" aria-current="page" href="">Home Kit</a></li>
                                <li><a class="nav-link text-white" aria-current="page" href="">Away Kit</a></li>
                                <li><a class="nav-link text-white" aria-current="page" href="">Alternate Kit</a></li>
    				    	</ul>
    				    </div>
    			</div>
    			</div>
    	        </div>
	        </div>
    	</div>
    </div>
</body>
</html>